/*******************
 * ARTICLE PREVIEW *
 *******************/

@keyframes share-container-exit {
  0% {
    visibility: visible;
    top: 0;
  }

  100% {
    visibility: hidden;
    top: 9rem;
  }
}

@keyframes share-container-enter {
  0% {
    visibility: hidden;
    top: 9rem;
  }

  100% {
    visibility: visible;
    top: 0;
  }
}
