@charset "UTF-8";
/*******************
 * ARTICLE PREVIEW *
 *******************/
@keyframes share-container-exit {
  0% {
    visibility: visible;
    top: 0;
  }
  100% {
    visibility: hidden;
    top: 9rem;
  }
}
@keyframes share-container-enter {
  0% {
    visibility: hidden;
    top: 9rem;
  }
  100% {
    visibility: visible;
    top: 0;
  }
}
@keyframes share-popup-enter {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes share-popup-exit {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 6.5%;
}

/***********
 * Fuentes *
 ***********/
@font-face {
  font-family: "ManropeVariable";
  src: url("../fonts/Manrope-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 450 750;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/static/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/static/Manrope-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/*************************
 * Estilos de tipografía *
 *************************/
body {
  font-family: "Manrope";
  font-weight: 500;
  font-size: 1.3rem;
  color: #6d7f97;
}

.article-preview__title {
  font-weight: 700;
  color: #48556a;
  font-size: 1.66rem;
}
@media only screen and (min-width: 56.25em) {
  .article-preview__title {
    font-size: 2rem;
  }
}
.article-preview__title:link, .article-preview__title:visited {
  color: #48556a;
  text-decoration: none;
}
.article-preview__title:hover {
  color: rgba(72, 85, 106, 0.8);
}
.article-preview__excerpt {
  line-height: 2rem;
  letter-spacing: 0.25px;
}
.article-preview__author-name:link, .article-preview__author-name:visited {
  color: #48556a;
  text-decoration: none;
  font-weight: 700;
}
.article-preview__author-name:hover {
  color: rgba(72, 85, 106, 0.8);
}
.article-preview__date {
  color: #9eafc2;
}
.article-preview__share-text {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #9eafc2;
}

.attribution a:link, .attribution a:visited {
  color: #48556a;
  text-decoration: none;
  font-weight: 700;
}
.attribution a:hover {
  color: rgba(72, 85, 106, 0.8);
}

/*********************
 * Fuentes variables *
 *********************/
@supports (font-variation-settings: "wght" 500) {
  body {
    font-family: "ManropeVariable";
    font-variation-settings: "wght" 500;
  }

  .article-preview__title {
    font-variation-settings: "wght" 700;
  }
  .article-preview__author-name:link, .article-preview__author-name:visited {
    font-variation-settings: "wght" 750;
  }
  .article-preview__date {
    font-variation-settings: "wght" 450;
  }

  .attribution a:link, .attribution a:visited {
    font-variation-settings: "wght" 750;
  }
}
.article-preview {
  background-color: white;
  border-radius: 9px;
  box-shadow: 0 3rem 3rem 2rem rgba(158, 175, 194, 0.15);
  overflow: hidden;
  /************************
   * ARTICLE CARD CONTENT *
   ************************/
  /***********************
   * AUTHOR INFO SECTION *
   ***********************/
  /*************************
   * SHARE OPTIONS SECTION *
   *************************/
}
@media only screen and (min-width: 26.25em) {
  .article-preview {
    max-width: 36.5rem;
  }
}
@media only screen and (min-width: 56.25em) {
  .article-preview {
    max-width: 73rem;
    display: flex;
    overflow: visible;
  }
}
.article-preview__featured-image {
  width: 100%;
  max-height: 20rem;
  object-fit: cover;
  object-position: 0 25%;
}
@media only screen and (min-width: 56.25em) {
  .article-preview__featured-image {
    max-height: none;
    max-width: 39%;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
  }
}
.article-preview__info-container {
  padding: 0 9%;
  padding-top: 8%;
}
@media only screen and (min-width: 26.25em) {
  .article-preview__info-container {
    padding-top: 2.5rem;
  }
}
.article-preview__title {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  display: block;
}
.article-preview__excerpt {
  padding-bottom: 2.5rem;
}
@media only screen and (min-width: 56.25em) {
  .article-preview__excerpt {
    padding-bottom: 1rem;
  }
}
.article-preview__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem 9%;
  position: relative;
}
@media only screen and (min-width: 56.25em) {
  .article-preview__footer {
    padding-bottom: 2.5rem;
  }
}
.article-preview__author-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-bottom: 0.5rem;
  transition: visibility 0.5s ease, padding-bottom 0.25s ease 0.25s;
}
.article-preview__author-info-container--hidden {
  padding-bottom: 0;
  visibility: hidden;
}
@media only screen and (min-width: 56.25em) {
  .article-preview__author-info-container--hidden {
    padding-bottom: 0.5rem;
    visibility: visible;
  }
}
.article-preview__name-and-date-container {
  padding: 0 7%;
}
.article-preview__author-name {
  display: block;
  padding-bottom: 2px;
}
.article-preview__author-avatar {
  width: 4rem;
  border-radius: 50%;
}
.article-preview__share-button {
  border: none;
  padding: 0.85rem;
  border-radius: 50%;
  background-color: #ecf2f8;
  z-index: 100;
}
.article-preview__share-button img {
  width: 1.6rem;
}
.article-preview__share-button:hover {
  cursor: pointer;
}
.article-preview__share-button--colorized {
  background-color: #6d7f97;
}
.article-preview__share-button--colorized .article-preview__share-icon {
  filter: brightness(3);
}
.article-preview__share-options-container {
  background-color: #48556a;
  display: flex;
  flex-direction: row;
  padding: 2.4rem 9%;
  width: 100%;
  animation-fill-mode: forwards;
  left: 0;
  position: absolute;
  top: 9rem;
  visibility: hidden;
  z-index: 50;
}
.article-preview__share-options-container--hidden.article-preview__share-options-container--animated {
  animation-name: share-container-exit;
  animation-duration: 0.75s;
}
.article-preview__share-options-container--animated {
  animation-name: share-container-enter;
  animation-duration: 0.75s;
}
@media only screen and (max-width: 18.5em) {
  .article-preview__share-options-container {
    flex-direction: column;
    text-align: center;
    padding: 1.8rem 9%;
    padding-right: 30%;
  }
}
@media only screen and (min-width: 56.25em) {
  .article-preview__share-options-container {
    width: 25rem;
    padding: 1.75rem 3.75rem;
    border-radius: 9px;
    left: unset;
    right: -6.9rem;
    top: -6.5rem;
    box-shadow: 0 1rem 1rem rgba(236, 242, 248, 0.5);
  }
  .article-preview__share-options-container--hidden.article-preview__share-options-container--animated {
    animation-name: share-popup-exit;
    animation-duration: 0.5s;
  }
  .article-preview__share-options-container--animated {
    animation-name: share-popup-enter;
    animation-duration: 0.5s;
  }
}
.article-preview__share-text {
  margin-right: 7.5%;
  margin-top: 1.5px;
}
@media only screen and (max-width: 18.5em) {
  .article-preview__share-text {
    flex-direction: column;
    text-align: center;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0.75rem;
  }
}
@media only screen and (min-width: 56.25em) {
  .article-preview__share-text {
    margin-right: 2.25rem;
    margin-top: 1.5px;
  }
}
.article-preview__sharing-buttons-container {
  width: 100%;
}
@media only screen and (min-width: 56.25em) {
  .article-preview__sharing-buttons-container {
    display: flex;
    justify-content: space-between;
  }
}
.article-preview__share-icon-option {
  margin-right: 5%;
  cursor: pointer;
  background: transparent;
  border: none;
}
.article-preview__share-icon-option--twitter {
  padding-top: 2px;
}
.article-preview__share-icon-option:hover {
  opacity: 0.8;
}
.article-preview__share-icon-option img {
  width: 2rem;
}
@media only screen and (max-width: 18.5em) {
  .article-preview__share-icon-option:last-child {
    margin-right: 0;
  }
}
@media only screen and (min-width: 56.25em) {
  .article-preview__share-icon-option {
    margin-right: 1.5rem;
  }
  .article-preview__share-icon-option:first-child {
    padding-top: 1px;
  }
}
.article-preview__triangle {
  background-color: #48556a;
  width: 2rem;
  height: 2rem;
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  box-shadow: 0 1rem 1rem rgba(236, 242, 248, 0.5);
}

.index-body {
  background-color: #ecf2f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.article-preview {
  margin: auto;
}

.attribution {
  margin-top: auto;
  padding: 1rem 0;
  padding-top: 5rem;
  text-align: center;
}

/*# sourceMappingURL=style.comp.css.map */
