@charset "UTF-8";
/*******************
 * ARTICLE PREVIEW *
 *******************/
@keyframes share-container-exit {
  0% {
    visibility: visible;
    top: 0;
  }
  100% {
    visibility: hidden;
    top: 7.5rem;
  }
}
@keyframes share-container-enter {
  0% {
    visibility: hidden;
    top: 7.5rem;
  }
  100% {
    visibility: visible;
    top: 0;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 6.5%;
}

/***********
 * Fuentes *
 ***********/
@font-face {
  font-family: "ManropeVariable";
  src: url("../fonts/Manrope-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 450 750;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/static/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/static/Manrope-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/*************************
 * Estilos de tipografía *
 *************************/
body {
  font-family: "Manrope";
  font-weight: 500;
  font-size: 1.3rem;
  color: #6d7f97;
}

.article-preview__title {
  font-weight: 700;
  color: #48556a;
  font-size: 1.66rem;
}
.article-preview__excerpt {
  line-height: 2rem;
  letter-spacing: 0.25px;
}
.article-preview__author-name:link, .article-preview__author-name:visited {
  color: #48556a;
  text-decoration: none;
  font-weight: 700;
}
.article-preview__author-name:hover {
  color: rgba(72, 85, 106, 0.8);
}
.article-preview__date {
  color: #9eafc2;
}
.article-preview__share-text {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #9eafc2;
}

.attribution a:link, .attribution a:visited {
  color: #48556a;
  text-decoration: none;
  font-weight: 700;
}
.attribution a:hover {
  color: rgba(72, 85, 106, 0.8);
}

/*********************
 * Fuentes variables *
 *********************/
@supports (font-variation-settings: "wght" 500) {
  body {
    font-family: "ManropeVariable";
    font-variation-settings: "wght" 500;
  }

  .article-preview__title {
    font-variation-settings: "wght" 700;
  }
  .article-preview__author-name:link, .article-preview__author-name:visited {
    font-variation-settings: "wght" 750;
  }
  .article-preview__date {
    font-variation-settings: "wght" 450;
  }

  .attribution a:link, .attribution a:visited {
    font-variation-settings: "wght" 750;
  }
}
.article-preview {
  background-color: white;
  border-radius: 9px;
  box-shadow: 0 3rem 3rem 2rem rgba(158, 175, 194, 0.15);
  overflow: hidden;
  /************************
   * ARTICLE CARD CONTENT *
   ************************/
  /***********************
   * AUTHOR INFO SECTION *
   ***********************/
  /*************************
   * SHARE OPTIONS SECTION *
   *************************/
}
.article-preview__featured-image {
  width: 100%;
  max-height: 20rem;
  object-fit: cover;
  object-position: 0 25%;
}
.article-preview__info-container {
  padding: 0 9%;
  padding-top: 8%;
}
.article-preview__title {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
.article-preview__excerpt {
  padding-bottom: 2.5rem;
}
.article-preview__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem 9%;
  position: relative;
}
.article-preview__author-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-bottom: 0.5rem;
  transition: visibility 0.5s ease, padding-bottom 0.25s ease 0.25s;
}
.article-preview__author-info-container--hidden {
  padding-bottom: 0;
  visibility: hidden;
}
.article-preview__name-and-date-container {
  padding: 0 7%;
}
.article-preview__author-name {
  display: block;
  padding-bottom: 2px;
}
.article-preview__author-avatar {
  width: 4rem;
  border-radius: 50%;
}
.article-preview__share-button {
  border: none;
  padding: 0.85rem;
  border-radius: 50%;
  background-color: #ecf2f8;
  z-index: 100;
}
.article-preview__share-button:hover {
  cursor: pointer;
}
.article-preview__share-button--colorized {
  background-color: #6d7f97;
}
.article-preview__share-button--colorized .article-preview__share-icon {
  filter: brightness(3);
}
.article-preview__share-options-container {
  background-color: #48556a;
  display: flex;
  flex-direction: row;
  padding: 2.4rem 9%;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 50;
  animation-name: share-container-enter;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}
.article-preview__share-options-container--hidden {
  animation-name: share-container-exit;
  animation-duration: 0.75s;
}
.article-preview__share-text {
  margin-right: 2rem;
  margin-top: 1.5px;
}
.article-preview__share-icon-option {
  margin-right: 1.75rem;
  cursor: pointer;
  background: transparent;
  border: none;
}
.article-preview__share-icon-option--twitter {
  padding-top: 2px;
}
.article-preview__share-icon-option:hover {
  opacity: 0.8;
}

.index-body {
  background-color: #ecf2f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.article-preview {
  margin-top: auto;
  margin-bottom: auto;
}

.attribution {
  margin-top: auto;
  padding: 1rem 0;
  padding-top: 5rem;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
